@import 'tailwindcss';

body {
  background-color: #0c241f;
  color: #19fff3;
}
div.scrollmenu {
  background-color: #333;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
}

div::-webkit-scrollbar {
  display: none;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

input[type='date']::-webkit-calendar-picker-indicator {
  width: 15px;
  filter: invert(1);
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
